<section class="addData--section">

  <h1 class="title">Enter Today's Data</h1>

  <form class="form" action="/addData" method="POST">
    <h2 class="subheading">Symptoms</h2>
    <ul class="addData--ul">
      {{#each symptomsList}}
      <li class="symptom-rating">
        <span class="symptom-span">
          <button class="addData--expand-btn addData--expand-btn-js button" type="button" id='expand-{{this.symptomid}}'>
            <div class="symptom-names" id='text-{{this.symptomid}}'>{{this.symptom}}</div>
            <div class="addData--down-arrow" id='icon-{{this.symptomid}}'></div>
          </button>
        </span>
        <br> {{!-- class of symptom because input parent must have symptom in class --}}

        <div id='container-{{this.symptomid}}' class='hidden symptom'>
          <input class="scale--input" aria-label="{{this.symptom}} scale" name="s{{this.symptomid}}" id="scale-s{{this.symptomid}}"
            type="range" min="0" max="10" value="0" steps="1">
          <span class="scaleNumber" id="scale-s{{this.symptomid}}-number"></span>
          <p class="commentBox" id="comment-s{{this.symptomid}}">Any comments you've saved will appear here as you move the scale</p>

        </div>
        <p id="symptom-s{{this.symptomid}}-comment-1" class="hidden">{{this.comment_1}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-2" class="hidden">{{this.comment_2}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-3" class="hidden">{{this.comment_3}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-4" class="hidden">{{this.comment_4}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-5" class="hidden">{{this.comment_5}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-6" class="hidden">{{this.comment_6}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-7" class="hidden">{{this.comment_7}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-8" class="hidden">{{this.comment_8}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-9" class="hidden">{{this.comment_9}}</p>
        <p id="symptom-s{{this.symptomid}}-comment-10" class="hidden">{{this.comment_10}}</p>
      </li>
      {{/each}}
    </ul>



    <h2 class="subheading">Factors</h2>

    <ul class="addData--ul">
      {{#each factorsList}}
      <li class="factor-rating list--item">
        <span class="factor-span">
          <button class="addData--expand-btn addData--expand-btn-js button" type="button" id='expand-{{this.factorid}}'>
            <div class="factor-names" id='text-{{this.factorid}}'>{{this.factor}}</div>
            <div class="addData--down-arrow" id='icon-{{this.factorid}}'></div>
          </button>
        </span>
        <br>
        <div id='container-{{this.factorid}}' class='hidden'>
          <input class="scale--input" aria-label="{{this.factor}} scale" name="f{{this.factorid}}" id="scale-f{{this.factorid}}" type="range"
            min="0" max="10" value="0" steps="1">
          <span class="scaleNumber" id="scale-f{{this.factorid}}-number"></span>
          <p class="commentBox" id="comment-f{{this.factorid}}">Any comments you've saved will appear here as you move the scale</p>
        </div>
        <p id="factor-f{{this.factorid}}-comment-1" class="hidden">{{this.comment_1}}</p>
        <p id="factor-f{{this.factorid}}-comment-2" class="hidden">{{this.comment_2}}</p>
        <p id="factor-f{{this.factorid}}-comment-3" class="hidden">{{this.comment_3}}</p>
        <p id="factor-f{{this.factorid}}-comment-4" class="hidden">{{this.comment_4}}</p>
        <p id="factor-f{{this.factorid}}-comment-5" class="hidden">{{this.comment_5}}</p>
        <p id="factor-f{{this.factorid}}-comment-6" class="hidden">{{this.comment_6}}</p>
        <p id="factor-f{{this.factorid}}-comment-7" class="hidden">{{this.comment_7}}</p>
        <p id="factor-f{{this.factorid}}-comment-8" class="hidden">{{this.comment_8}}</p>
        <p id="factor-f{{this.factorid}}-comment-9" class="hidden">{{this.comment_9}}</p>
        <p id="factor-f{{this.factorid}}-comment-10" class="hidden">{{this.comment_10}}</p>
      </li>
      {{/each}}

    </ul>
    <div class="sympFact--container-btns">
      <a href="/profile" class="button-links">Back</a>
      <button class="button" type="submit">Finish</button>
    </div>
  </form>

</section>